*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
a{text-decoration: none;}
ul,li{list-style-type: none;}
img{vertical-align: middle;}
.clr{clear: both;}
.full-wrapper{width: 100%;}
.container{width: 1140px;margin: 30px auto;}

/* starting from here... */


.logo{
    width: 20%;
    float: left;
}
.logo img{
    width: 100%;
}
.main-menu{
    width:80%;
    float: left;
    text-align: right;
}
.main-menu p {
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
}
.navbar ul li{
    padding-left: 40px;
}
.navbar ul li:first-child {
    padding-left: 0;
}
.navbar ul li a{
    color:#3d2514;
    transition: 0.1s;
}
.navbar ul li a:hover{
    border-bottom:3px solid #3d2514; 
    
}


/* hero-section start */
/* .main-hero{
    padding:250px 0;
} */
#hero-bg{
    background: url('../img/rectangle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.hero-content{
    width: 50%;
    float: left;
    position: relative;
    top: 100px;
    line-height: 70px;
    text-transform: uppercase;
}
.hero-content p{
    font-size: 17px;
    font-weight: 100;
    border-style: dashed;
    border-width: 2px;
    line-height: 2;
    width: 475px;
    padding:0 3px 0 3px;
}
.hero-content h3{
    font-size: 60px;
    font-weight: 800;
}
.hero-content h2{
    font-size: 75px;
    font-weight: bold;
}

.hero-image{
    width: 50%;
    float: right;
}
.hero-image img{
    width: 100%;
}

/* about-section start */

.left-about{
    width: 48%;
    float: left;
    
}
.left-about img{
    width: 100%;
}
.left-img{
    position: relative;
} 
.left-content {
    position: absolute;
    top:25px;
    left:25px;
    color:#fff;
}



.right-about{
    width: 48%;
    float: right;
}
.right-about img{
    width: 100%;
}
.right-about img:first-child{
    margin-bottom: 35px;
}
.first-img{
    position: relative;
}
.right-content1{
    position: absolute;
    left: 25px;
    top: 20px;
    color: #fff;
}
.second-img{
    position: relative;
}
.right-content2{
    position: absolute;
    top: 20px;
    left: 25px;
    color:#fff;
}
#about .about-btn{
    text-align: center;
    padding: 15px 30px; 
    background: #ffc045;
    display: inline;
    position: absolute;
    left: 675px;
    border-radius: 4px;   
}
.about-btn a{
    color: #fff;
}
/* foodsection start */
#food-item-bg{
 padding-bottom: 100px;
}
.food-main-header{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 60px;
}
hr{
    border: 2px solid #ffc045;
    margin-bottom: 5px;
 
}
.food-header h2{
    font-size: 40px;
    text-transform: uppercase;
    color:#3d2514;
    font-weight: bold;
}
.food-header p{
    padding: 0px 80px;
}
.food-items{
    width: 28%;
    text-align: center;
    float: left;
    margin-left: 80px;  
}
.food-items img{
    width: 100%;
}
.padd-0{
    margin-left: 0px;
}
.food-item-btn {
    background: red;
    padding: 10px 26px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 15px;
}
.food-item-btn a{
    color: #fff;
    font-weight: bold;
}
/* slider section */
.slider-bg{
    margin-top: 100px;
    background: #fdfdfd;
    overflow: hidden;
    padding: 60px;
    margin-bottom: 60px;
    box-shadow: rgba(107, 101, 101, 0.75) 1px 4px 8px 0px;
}
.slider-content{
    width: 50%;
    float: left;
    position: relative;
    left: 20px;
    top: 30px;
}
.slider-content h3{
    font-size: 20px;
}
.slider-content h2{
    font-size: 35px;
}
.slider-content p{
    font-size: 18px;
    padding-right: 78px;
}
.slider-img{
    width: 50%;
     float: right;
}
.slider-img img{
    width: 100%;
}

/*  */
.contact-form-content{
    text-align: center;
}
.contact-form-content h3{
    font-size: 30px;
}
.contact-form-content h2{
    font-size: 50px;
}
.contact-form{
  
}
.form1{
    width:50%;
    float: left;
    display: flex;
    flex-direction: column;
    
}
input{
    margin-bottom: 5px;
    width: 375px;
    padding: 13px;
   
}
.form1>input{
    margin-left: 170px;
}
.form2{
    width:50%;
    float: right;
    display: flex;
    flex-direction: column;
}
.form2 a{
    background: red;
    color: #fff;
    text-align: center;
    width: 375px;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}
#contact-bg{
    position: relative;
    margin-bottom: 275px;
}
.bg-img1 {
    position: absolute;
    top: -61px;
    left: -222px;
}
.bg-img1 img{
    width: 250px;
}
.bg-img2{
    position: absolute;
    top:75px;
}
.bg-img2 img{
    width: 213px;
}
.bg-img3 {
    position: absolute;
    left: 1061px;
    top: -45px;
}
 
.bg-img3 img{
    width: 300px;
}


/*  */
.footer-logo{
    width: 50%;
    float: left;
    margin-top: 45px;
    margin-left: 45px;
    color:#fff;

    padding-bottom: 20px;
    
}
.copyright {
    margin-top: 145px;
}

.footer-icon{
    color:#fff;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;

}

#footer-bg{
    background: url("../img/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 1300px;
}
#footer-bg img{
    margin-bottom: 45px;
}
#footer-bg .footer-logo p{
    padding: 0 165px 0 0;
}
#footer-bg .footer-icon{
    width: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#footer-bg .footer-icon .first-icon{
    font-size: 14pt;
    font-weight: bold;
}
#footer-bg .footer-icon .first-icon p:first-child{
    margin-bottom: 20px;
}
#footer-bg .footer-icon .first-icon i{
    margin-right: 20px;
    margin-top: 5px;
    font-size: 25px;
}
#footer-bg .footer-icon .sec-icon{
    position: relative;
    top: 150px;
    right: -15px;
    font-size:25px;
}
#footer-bg .footer-icon .sec-icon i{
    margin-right: 10px;
    padding: 8px;
    width:40px;
    height:40px;
    color: #000;
    border-radius: 50%;
    background: #fff;

}